1. What are data structures, and why are they important3
=>

=> date structure are ways to store data and organized a data in computer so that we can use it efficiently , it is imp for fast process, for handling a big data and also efficient process

2 .  Explain the difference between mutable and immutable data types with examplesP

=> so basically mutable means a data type that can be changed after a creation and its examples is list , dict and set
  and immutable means a data type The lights that cant be changed after creation and And their example is tuple, str, float, int

3.  What are the main differences between lists and tuples in Python?
=>  So the difference between  list and tuple is like a list is immutable and the tuple is immutable

4. Describe how dictionaries store data?

=> Stored data in key value format And is this unique and it is used to quickly find  its value

5.  Why might you use a set instead of a list in Python?

=> couse in set data type is removes duplicates , by using hashing, so chicking if an item exist is very fast, and also it is useful for Mathmatical operation

 6. What is a string in Python, and how is it different from a list?

 => A string is a sequence of characters enclosed in single('') , and double quotes or triple quotes
 it stores characters only
 and its is immutable and elements are always characters

7.   How do tuples ensure data integrity in Python?

=> A tuple is a collection of items but written in round brackets(). Tuple are Immutable once created , we cannot change their element .

 8.   What is a hash table, and how does it relate to dictionaries in Python

  => hash table is structes that store data in key value pairs . I python, a dictionary id implemented using a hash table internally.
  we cna get it from this function dict[key]

 9. Can lists contain different data types in Python ?
  => yes, lists in python can contain different data types

 10. Explain why strings are immutable in Python ?

  => Memory Efficiency , hashing and dictionary keys security and predictability

 11. What advantages do dictionaries offer over lists for certain tasks ?

 => Fast Lookups, Better Data Organization,  No Need to Remember Index Positions,  Dynamic & Flexible

 12.  Describe a scenario where using a tuple would be preferable over a list ?

  => we can use tuble there i dont want to change data or should not change and other like for improving perfomance and safe to use as dictionary keys

 13. How do sets handle duplicate values in Python?

  => A set in python is a collectin of Unique element there is no duplicate allowed
  if we try we add a duplicate value , python ignores it automatically
  there is no error , it just keeps one copy.

 14. How does the “in” keyword work differently for lists and dictionaries ?

 =>"in" with list

  it checks if a value exists in the list . it searches each element one by one
 "in "with dictionary

 check only for keys by defaule and used hashing

 15. Can you modify the elements of a tuple? Explain why or why not

 => no, i cant modify tuple element direct couase tuple are immutable once created , their elements cannot be changed, added or removed.

 16. What is a nested dictionary, and give an example of its use case ?

  => nested dictionary means a dictionary inside another dictionary and its allows to store complex, hierarchical data.

  ex . storing structured data ,
  Api response , configuratin files

  17. Describe the time complexity of accessing elements in a dictionary?
   
 => The time complexity of accesing element in dictionary is Average case 0(1) constant time dictionaries in python are implemented using hash tables.

In [ ]:
my_dict = {"name": "Aditya", "age": 15}
print(my_dict["name"])

Aditya

 18.  In what situations are lists preferred over dictionaries ?

  => when order mattern , when dont need key-value Pairs, when data is small and simple , when we need a duplicated

 19. Why are dictionaries considered unordered,  and how does that affect data retrieval
   
   => Dictionaries use a hash table to store data (key → value).

Each key is converted to a hash value → used as an index in memory.

Keys are not stored in any fixed sequence like lists.

Result: The order of items depends on hashing,

 20.  Explain the difference between a list and a dictionary in terms of data retrieval

  => in list we accessed data by using index, in dictionary we accessed data by key

  in list best when order matter and element are possition based , in dictionary best when fast lookup by required

**practical quesitons**

*Write a code to create a string with your name and print it

In [1]:
Firstname = "aditya"
print (Firstname);

adity

Write a code to find the length of the string "Hello World"

In [2]:
newcode = "hello world"
print(len(newcode))

11

Write a code to slice the first 3 characters from the string "Python Programming

In [3]:
new_string = "python programming"
print(new_string[0:3])

pyt

Write a code to convert the string "hello" to uppercase

In [4]:
text = "hello"

print (text.upper())

HELLO

*Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [6]:
word = "i like apple "
new_word  = word.replace("apple","orange")

print(new_word)

i like orange

*Write a code to create a list with numbers 1 to 5 and print it

In [7]:
new = [1,2,3,4,5]
print(new)

[1, 2, 3, 4, 5]

*Write a code to append the number 10 to the list [1, 2, 3, 4]

In [9]:
 new_list  = [1,2,3,4]
 new_list.append(10 )
 print(new_list)

[1, 2, 3, 4, 10]

*Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [12]:
new = [1,2,3,4,5]
new.remove(3)
print(new)

[1, 2, 4, 5]

*Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [13]:
new = ['a','b','c','d']
print(new[1])

b

*Write a code to reverse the list [10, 20, 30, 40, 50]

In [14]:
 new = [10,20,30,40,50]
 new.reverse()
 print(new)

[50, 40, 30, 20, 10]

* Write a code to create a tuple with the elements 100, 200, 300 and print it

In [18]:
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

* Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [20]:
your_tuple = ('red', 'green', 'blue', 'yellow')
print(your_tuple[1:])

('green', 'blue', 'yellow')

*Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [22]:
num_min = (10,20,5,15)
print(min(num_min))

5

Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [24]:
tup = ("dog","cat", "rabbit")
new_tup = tup.index("cat")
print(new_tup)

1

 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [25]:
old_tup = ("apple","banana","kiwi")
print("kiwi" in old_tup)

True

Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [26]:
new_set = {"a","b","c"}
print(new_set)

{'a', 'b', 'c'}

Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [27]:
new_one = {"a","b","c"}
print(new_one)

{'a', 'b', 'c'}

Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [28]:
old_one = {1,2,3,4}
old_one.remove(4)
print(old_one)

{1, 2, 3}

Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [29]:
a = {1,2,3}
b = {3,4,5}
print(a.union(b))

{1, 2, 3, 4, 5}

Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [30]:
h = {1,2,3}
b = {2,3,4}
print(h.intersection(b))

{2, 3}

Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [31]:
new_dict = {"name":"aditya","age":20,"city":"pune"}
print(new_dict)

{'name': 'aditya', 'age': 20, 'city': 'pune'}

 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [32]:
add = {'name': 'John', 'age': 25}
add["country"] = "USA"
print(add)

{'name': 'John', 'age': 25, 'country': 'USA'}

 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [36]:
first = {"name":"aditya", "age":15}
print(first["name"])

aditya

Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [37]:
a = {'name': 'Bob', 'age': 22, 'city': 'New York'}
a.pop("age")
print(a)

{'name': 'Bob', 'city': 'New York'}

Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [38]:
h= {"name ": "aditya", "city": "paris"}
print("city"in h)

True

Write a code to create a list, a tuple, and a dictionary, and print them all.

In [40]:
my_list = [1, "hello", 3.14]
my_tuple = (1, "hello", 3.14)
my_dict = {"key1": "value1", "key2": "value2"}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 'hello', 3.14]
Tuple: (1, 'hello', 3.14)
Dictionary: {'key1': 'value1', 'key2': 'value2'}

Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [41]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[17, 26, 55, 90, 99]

 Write a code to create a list with strings and print the element at the third index.

In [42]:
my_list = ["apple", "banana", "cherry", "date"]
print(my_list[2])

cherry

Write a code to combine two dictionaries into one and print the result.

In [43]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Write a code to convert a list of strings into a set

In [44]:
my_list = ["apple", "banana", "cherry", "apple"]
my_set = set(my_list)
print(my_set)

{'apple', 'banana', 'cherry'}